body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,textarea,p,blockquote,th,td,
input,select,textarea,button {
    margin:0;padding:0
}  /* 初始化标签在所有浏览器中的margin、padding值 */
fieldset,img {border:0 none}  /* 重置fieldset（表单分组）、图片的边框为0*/
dl,ul,ol,menu,li {list-style:none}   /* 重置类表前导符号为onne,menu在HTML5中有效 */
blockquote, q {quotes: none}   /* 重置嵌套引用的引号类型 */
blockquote:before, blockquote:after,q:before, q:after {content:none}  /* 重置嵌套引用*/
input,select,textarea,button {vertical-align:middle}  /* 重置表单控件垂直居中*/
button {border:0 none;background-color:transparent;cursor:pointer}  /* 重置表单button按钮效果 */
body {background:#fff}   /* 重置body 页面背景为白色 */
body,th,td,input,select,textarea,button {font-size:12px;line-height:1 ;color:#666} /* 重置页面文字属性 */
a {color:#666;text-decoration:none}  /* 重置链接a标签 */
a:active, a:hover {text-decoration:none}   /* 重置链接a标签的鼠标滑动效果 */
address,caption,cite,code,dfn,em,var {font-style:normal;font-weight:normal}  /* 重置样式标签的样式 */
caption {display:none;}    /* 重置表格标题为隐藏 */
table {width:100%;border-collapse:collapse;border-spacing:0;table-layout:fixed;}    /* 重置table属性 */
img{vertical-align:top}  /* 图片在当前行内的垂直位置 */

/* 页面设置 */

/* 取消a标签点击后的虚线框 */
a {outline: none;}

/*清除浮动*/
.clear{clear: both;}

/*清除浮动--推荐使用*/
.clearfix:before,.clearfix:after{content: '';display: table;}
.clearfix:after{clear: both;}

$themecolor: rgb(41,189,224);
$whitecolor:  #ffffff;
$informcolor: rgb(185,233,245);
$informimgcolor: rgb(251,180,53);
$textcolor: rgb(40,40,40);
$conttopcolor: rgb(245,201,123);
$contbottomcolor: rgb(131,176,154);
@mixin flexstyle($justify){
    display: flex;
    flex-flow: nowrap row;
    justify-content: $justify;
    align-items: center;
}
@mixin bkgimg($url){
    background: url($url) no-repeat center $whitecolor;
    background-size: 80%;
}
@mixin blank($blank){
    width: 100%;
    padding-bottom: $blank;
}
.box{
    background-color: $themecolor;
    width: 100%;
    font-size: 2vw;
}
.header-box{
    width: 100%;
    padding: 1em;
    position: fixed;
    top: 0;
    background-color: $themecolor;
    @include flexstyle(space-between);
    color: $whitecolor;
}

.menu-icon{
    width: 1em;
    height: .7em;
    border-top: .1em solid $whitecolor;
    border-bottom: .1em solid $whitecolor;
    background-color: $whitecolor;
    padding: .2em 0;
    background-clip:content-box;
}
.header-menu{
    padding: .2em;
    border: .1em solid $whitecolor;
}
.inform-box{
    width: 100%;
    background-color: $informcolor;
    padding: 1em;
    color: $textcolor;
    @include flexstyle(space-between);
}
.inform-img{
    width: 3rem;
    height: 3rem;
    background: url("images/发言讨论结束，投票_03.png") no-repeat center $informimgcolor;
    border-radius: 50%;
}
.ps-box{
    padding: 0 0 2vh 5vw;
    color: $whitecolor;
}
.ps-trangle{
    width: 0;
    height: 0;
    border-left: .5em solid transparent;
    border-right: .5em solid transparent;
    border-top: 1em solid $informcolor;
}
.ps-text{
    padding-top: 1vh;
}
.cont-row{
    width: 100%;
    @include flexstyle(space-around);
}
.cont-top-box{
    width: 20vw;
    text-align: center;
    border: solid $whitecolor;
}
.cont-top-top{
    padding: 6vw;
    background-color: $conttopcolor;
    white-space : nowrap;
}
.cont-top-bottom{
    background-color: $contbottomcolor;
    color: $whitecolor;
}
.cont-bottom{
    margin: 3vw 0;
    @include flexstyle(space-between);
    opacity: 0;
}
.img-left,.img-left-min,.img-right-min,.img-right{
    width: 4vw;
    height: 4vw;
}
.img-left{
    @include bkgimg("images/发言讨论结束，投票_13.png");

}
.img-left-min{
    @include bkgimg("images/发言讨论结束，投票_10.png");
}
.img-right-min{
    @include bkgimg("images/发言讨论结束，投票_07.png");
}
.img-right{
    @include bkgimg("images/发言讨论结束，投票_16.png");
}
.cont-row-box:hover .cont-bottom{
    opacity: 1;
}
.blank1{
    @include blank(8vw);
}
.blank2{
    @include blank(20vw);
}
.footer-box{
    width: 100vw;
    position: fixed;
    bottom: 0;
    background-color: $themecolor;
    padding: 5vw 10vw;
}
.footer-btn{
    text-align: center;
    background-color: $informimgcolor;
    color: $whitecolor;
    width: 100%;
    padding: 4vw;
}
